@media screen and (max-width:479px) {
    /* for iPhone Landscape (iPhone 縦) */

    footer {
        padding-bottom: 30px;
        background-color: #ffffff;
    }

    .footer-mobile {
        margin: 0px;
        padding: 0px;
        width: 100%;
        background-color: white; /* バーの背景色(濃い赤色) */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .footer-mobile a {
        display: block;
        width: 100%;
        font-size: 12px;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    .footer-mobile li {
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style-type: none;  /* リストの先頭記号を消す */
        font-size: 20px;
        text-align: center;
        border: 1px solid #8B4513;
    }

    .footer-mobile img{
        display: block;
        width: 30%;
        margin: auto;
        height: auto;
    }


    .footer-pc {
       display: none;
    }

}



@media screen and (min-width: 480px) {
    /* for タブレット, PC */
    .footer-pc {
        margin: 0px;
        padding: 30px 0px 100px 0px;
        text-align: center;
        background-color: white;
        border-top: 1px solid #8B4513;
    }

    .footer-pc p {
        margin-bottom: 0px;
    }

    .footer-mobile {
        display: none;         /* 非表示にする */
    }
}



