@charset "UTF-8";


.wrapper-order ul {
    padding: 20px;
    list-style: none;
}

main {
    text-align: center;
}
.free-none {
    display: none;
}
.paid-none {
    display: none;
}
.container {
    display: inline-block;
    border: 1px solid black;
}

.edit-forms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.left{
    background-color: #D3D3D3;
}
.right {
    background-color: #D3D3D3;
}

.edit-forms button {
    padding: 10px 20px;
}