@media screen and (max-width:1023px) {
   /* for iPhone Landscape (iPhone 縦) */


   /* ハンバーガーマーク全体の範囲 */
   .menu-btn {
      position: fixed;
      top: 10px;
      right: 10px;
      display: flex;
      height: 60px;
      width: 60px;
      justify-content: center;
      align-items: center;
      z-index: 90;
      background-color: #0099CC;
   }




   /* ハンバーガーマーク生成 */
   .menu-btn span,
   .menu-btn span:before,
   .menu-btn span:after {
      content: '';
      display: block;
      height: 3px; /* 線の縦幅 */
      width: 25px; /* 線の横幅 */
      border-radius: 50px; /* 線の丸み */
      background-color: #ffffff; /* 線の色 */
      position: absolute; /* 線の間隔 */
   }
   .menu-btn span:before {
      bottom: 8px; /* 線の間隔 */
   }
   .menu-btn span:after {
      top: 8px; /* 線の間隔 */
   }



   /* ハンバーガーマークを押した後の挙動 */
   #menu-btn-check:checked ~ .menu-btn span {
      background-color: rgba(255, 255, 255, 0); /* メニューオープン時は真ん中の線を透明にする */
   }
   #menu-btn-check:checked ~ .menu-btn span::before {
      bottom: 0;
      transform: rotate(45deg); /* メニューオープン時は斜め線を1つ追加 */
   }
   #menu-btn-check:checked ~ .menu-btn span::after {
      top: 0;
      transform: rotate(-45deg); /* メニューオープン時は斜め線を1つ追加 */
   }

   /* ハンバーガーマークのチェックボックスの無くす */
   #menu-btn-check {
      display: none;
   }


   .menu-content {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 100%; /*leftの値を変更してメニューを画面外へ*/
      z-index: 80;
      text-align: center;
      background-color: #0099CC;
      transition: all 0.5s; /*アニメーション設定*/
      padding-top: 50px;
   }
   .menu-content .setting {
      display: none;
   }

   .menu-content ul {
      padding-left: 10px;
      padding-right: 10px;
   }

   .ddmenu ul {
      padding-left: 0px;
      padding-right: 0px;
   }


   .menu-content li {
      list-style: none;
   }


   .menu-content ul li a {
      display: inline-block;
      border-bottom: solid 1px #ffffff;
      font-size: 15px;
      color:#ffffff;
      text-decoration: none;
      padding: 15px 0px 5px 0px;
      display: inline-flex;
      align-items: center;
   }

   .menu-content img{
      width: 30px;
      height: auto;
      margin-right: 5px;
   }


   #menu-btn-check:checked ~ .menu-content {
      left: 0%;/*メニューを画面内へ*/
   }

   .ddmenu form li {
      display: inline-block;
      border-bottom: solid 1px #ffffff;
   }

   ul.ddmenu button {
      display: inline-flex;
      align-items: center;
      background-color: #0099CC; /* メニュー項目の背景色(濃い赤色) */
      color: white;             /* メニュー項目の文字色(白色) */
      font-size: 15px;
      border: none;
      padding: 15px 0px 5px 0px;
   }








@media screen and (min-width:750px) and (max-width:1023px) {
   #menu-btn-check:checked ~ .menu-content {
      left: 70%;/*メニューを画面内へ*/
   }

   .menu-content {
      text-align: left;
   }

}


}




@media screen and (min-width:1024px) {
   /* for PC */
   body {
      margin: auto;
      width: 1120px;
   }



   .pulldown {
       display: block;
       width: 100%;
       font-size: 15px;
       box-sizing: border-box;
       color: black;
       text-decoration: none;
   }
   .pulldown::before {
       content: "";
       width: 7px;
       height: 7px;
       border-top: solid 2px black;
       border-right: solid 2px black;
       transform: rotate(135deg);
       position: absolute;
       right: 11px;
       top: 25px;
   }


   button.link-style{
       cursor: pointer;
       border: none;
       color: #0033cc;
       width: 200px;               /* サブメニュー1項目の横幅(135px) */
       border-top: 1px solid pink; /* 項目上側の枠線(ピンク色で1pxの実線) */
       font-size: 16px;
       color: black;
   }
   button.link-style:hover{
     color: #002080;
   }

   /* ▼メニューバーの装飾 */
   /* -------------------- */
   ul.ddmenu {
      top: 0px;
      margin: 0 auto;
      position: fixed;
      z-index: 10;
      width: 1120px;
      padding-left: 0px;
      background-color: #CCFF99; /* バーの背景色(濃い赤色) */
      display: flex;
      flex-direction: row;
      justify-content: space-around;    /* この3個をつければheaderに横並び */
   }

   /* -------------------------- */
   /* ▼メインメニュー項目の装飾 */
   /* -------------------------- */
   ul.ddmenu li {
      width: 200px;           /* メニュー項目の横幅(125px) */
      list-style-type: none;  /* ★2:リストの先頭記号を消す */
      position: relative;     /* ★3:サブメニュー表示の基準位置にする */
   }
   ul.ddmenu a,button {
      background-color: #CCFF99	; /* メニュー項目の背景色(濃い赤色) */
      color: black;              /* メニュー項目の文字色(白色) */
      line-height: 60px;         /* メニュー項目のリンクの高さ(40px) */
      text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
      text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
      font-weight: bold;         /* 太字にする */
      display: flex;
      justify-content: center;
      align-items: center;
            /* border-bottom: 1px solid #002080; */

   }
   ul .setttings-pulldown a,button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
   }
   ul.ddmenu a:hover {
      background-color: #33FF99; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
      color: #CCFF99	;            /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
   }

   /* ▼サブメニューは、とりあえず非表示にしておく */
   ul.ddmenu ul {
      display: none;         /* ★5:非表示にする */
   }
   /* ▼サブメニューの装飾 */
   /* -------------------- */
   ul.ddmenu ul {
      display: none;       /* ★1:標準では非表示にする */
      margin: 0px;         /* ★2:サブメニュー外側の余白(ゼロ) */
      padding: 0px;        /* ★3:サブメニュー内側の余白(ゼロ) */
      position: absolute;  /* ★4:絶対配置にする */
   }

   /* ---------------------------------- */
   /* ▼サブメニューがある場合に開く処理 */   /* ※サブメニューが1階層しか存在しない場合の記述 */
   /* ---------------------------------- */
   ul.ddmenu li:hover ul {
      display: block;      /* ★5:マウスポインタが載っている項目の内部にあるリストを表示する */
   }
   /* ▼サブメニュー項目の装飾 */
   /* ------------------------ */
   ul.ddmenu ul li {   /* ※A */
      width: 200px;               /* サブメニュー1項目の横幅(135px) */
      border-top: 1px solid pink; /* 項目上側の枠線(ピンク色で1pxの実線) */
   }
   ul.ddmenu ul li a, button {   /* ※B */
      line-height: 40px;   /* サブメニュー1項目の高さ(35px) */
      text-align: left;    /* 文字列の配置(左寄せ) */
      padding-left: 5px;   /* 文字列前方の余白(5px) */
      font-weight: normal; /* 太字にはしない */
   }
   ul.ddmenu ul li a:hover {   /* ※C */
      background-color: #33FF99; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
      color: #005500;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
   }
   ul.ddmenu ul li button:hover {   /* ※C */
      background-color: #33FF99; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
      color: #005500;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
   }


   #menu-btn-check {
       display: none;
   }

   .ddmenu img{
      width: 30px;
      height: auto;
      padding-right: 5px;
   }

}